@font-face {
    font-family: 'Mongolian Baiti';
    src: url('MongolianBaiti.woff2') format('woff2'),
        url('MongolianBaiti.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

